@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url("reset.css");

@import url("fonts.css");


.header h1{
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
.header{
    margin-bottom: 40px;
}

.main{
    width: 1070px;	
    margin: 0 auto;
    color: #2b2929;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.main h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 40px;
}

.main h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 30px;
}

.main p,
.main ul{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
}
.text > p{
    margin-bottom: 20px;
}

.main img{
    border-radius: 8px;
    max-width: 1070px;
    height: 100%;
    margin-bottom: 40px;
}
.text{
    margin-bottom: 40px;
}

.main ul li{
    margin-bottom: 20px;
    padding-left: 47px;
    background: url("../img/checkbox.png") 0 0 /32px no-repeat;
    min-height: 32px;
    
}
 .list{
    margin-bottom: 40px;
 }

 .living-room > p{  
    margin-bottom: 100px;
 }

 /*SCRIN N2*/

 .eduplay{
    /* width: 100%; */
    padding: 120.5px 680px 120.5px 94px;
    background: url("../img/kid_on_books.png") 827px 0px  no-repeat, url("../img/bg-gradient.jpg") center/100% no-repeat;
    margin-bottom: 100px;
 }

.eduplay .content{
    max-width: 600px;
    /* max-height: 217px; */

}
 

 .eduplay h2{
    font-family: Quicksand, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 24px;
 }

 .eduplay p{
    font-family: Quicksand, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 24px;

 }

 .eduplay .link{
    border-radius: 8px;
    padding: 11px 20px; 
    max-width: 217px;
    max-height: 48px; 
    background-color: #fff;
    
 }

 .eduplay a {
    font-family: Quicksand, serif;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 156%;
    color: #0d1216;
 }

 /*FOOTER SCRIN N3*/

 .footer{   
   padding: 225px 394px 60px 300px;
   background-color: rgba(30, 40, 50, 0.05);
   background-image: url("../img/flower-patternflower-pattern.png");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: -28.45px 365.8px;
 }

 .footer-content{
    font-family: "Roboto", sans-serif;
 }

 .footer .box{
    display: inline-block;
    max-width: 686px;
    width: 100%;
    margin-right: 80px;
    padding-top: 74px;
 }

 .footer h2{
    font-weight: 300;
    font-size: 74px;
    line-height: 74%;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 52px;

 }

 .footer p{
    font-weight: 400;
    font-size: 30px;
    line-height: 183%;
    text-transform: capitalize;
    margin-bottom: 66px;
 }

 .shop-link{
    padding: 19px 26px 19px 64px;
    width: 223px;
    height: 72px;
    background-color: #1e2832;  
    background-image: url("../img/iconbag.png");
    background-repeat: no-repeat; 
    background-position: 26px 21px;

 }

 .footer a{
    display: inline-block;
    font-weight: 400;
    font-size: 29px;
    text-transform: capitalize;
    color:  #fff;
 }

 .footer .wrapper-image{
    display: inline-block;
    vertical-align: top;
    max-width: 424px;
    width: 100%;
    height: 542px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 160px 0;     
 }

 .wrapper-image img{
    max-width: 424px;
    width: 100%;
    height: 542px;
    margin-left: -18px;
    margin-top: -18px;
 }